<link rel="stylesheet" href="/assets/css/comment.css">
<script src="/assets/js/comment.js"></script>

<h2>{{article.title}}</h2>
<p>{{article.summary}}</p>
<a href="/articles">Back</a>


<div class="container">
  <div class="row">
    <div class="col-2 empty"></div>
    <div class="col-8 comments">
      {{#each article.comments}}
      <div class="row comm">
        <div class="col-12">
          <p>{{this.message}}</p>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col-2 empty"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Message</label>
          <input type="text" class="form-control" id="commentMessage" placeholder="Message">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Message</label>
          <input type="text" class="form-control" id="commentUser" placeholder="Name">
        </div>
        <button class="btn btn-success subBtn" data-which="{{article._id}}">Submit</button>
      </form>
    </div>
  </div>

</div>