<link rel="stylesheet" href="/assets/css/index.css">
<script src="/assets/js/index.js"></script>

<h1>This is working</h1>

<a href="/articles">Articles</a>

<a href="/scrape">Scrape</a>

<a href="/removeArticles">Remove Articles</a>