*{
  box-sizing: border-box;
}

body{
  background: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.row{
  margin-bottom: 1em;
}

.padding-top{
  padding-top: 4.5em;
}

.nav-link{
  color: white !important;
}

.nav-link:hover{
  color: #bbb !important;
}

nav h2{
  color: white !important;
}

.row:nth-child(1){
  margin-top: 1em;
}

.card img {
  width: 90%;
  height: auto;
}

.card{
  background-color: #eee;
  padding: 10px;
  border-radius: 20px;
}

.card-body{
  background-color: #ccc;
  margin-top: .5em;
  border-radius: 20px
}