body{
  background: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.place{
  background-color: white;
  margin-top: .5em;
  padding: 20px;
}

.place img{
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
}